---
// src/components/astro/CategoryNav.astro

import type { CategoryNav } from '@lib/storefront';
import { Image } from 'astro:assets';

interface Props {
  categories: CategoryNav[];
}

const { categories } = Astro.props;
---

<div class="w-full py-12 sm:py-20 max-w-275 mx-auto">
  <span
    class="text-2xl sm:text-3xl font-bold text-slate-900 tracking-wide text-center block mb-12 sm:mb-16 uppercase"
  >
    <h2>Categorías</h2>
  </span>
  {
    /* 
    EL FIX: Volvemos a justify-center para que la fila de abajo quede junta.
    Aumentamos un poco el gap horizontal (gap-x-12 a sm:gap-x-20) para que respiren.
  */
  }
  <div
    class="flex flex-wrap justify-center items-end gap-x-12 sm:gap-x-20 gap-y-12"
  >
    {
      categories.map((cat) => (
        <a
          href={cat.link}
          class="group flex flex-col items-center gap-6 w-30 sm:w-40 md:w-57.5 outline-none"
        >
          <div class="w-full aspect-5/7 flex items-center justify-center transition-transform duration-500 ease-out group-hover:-translate-y-3 group-focus-visible:-translate-y-3">
            <Image
              src={cat.image}
              alt={`Categoría de ${cat.label}`}
              class="w-full h-full object-contain filter drop-shadow-sm group-hover:drop-shadow-xl transition-all duration-500"
            />
          </div>

          <span class="text-sm md:text-xl font-medium text-slate-500 tracking-wide group-hover:text-slate-900 transition-colors duration-300 border-b border-transparent group-hover:border-slate-900 pb-1">
            {cat.label}
          </span>
        </a>
      ))
    }
  </div>
</div>
